@tailwind base;
@tailwind components;
@tailwind utilities;

.three {
    font-size: 3.7em;
}

@media (max-width:700px) {
    .three {
        font-size: 2.5em;
    }
    .donut-box {
        height: 200px;
    }
}

